
html{background:#fff;color:#000}
legend{color:#000}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,ul,li,ol,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;margin:0;outline:0;padding:0}
abbr,acronym,address,caption,cite,code,dfn,em,strong,th,var,h1,h2,h3,h4,h5,h6{font-style:normal;font-variant:normal;font-weight:normal}


body{line-height:1}
ol,ul,li{list-style:none}





html{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
a,.fake-link{color:#0057ff}


@media (max-width: 1100px){
    html {display: none;}
}


.rf-tooltip--main{
    left:50%;right:auto;transform:translateX(-50%);border-radius:3px;box-shadow:0 2px 8px rgba(25,25,25,0.3);opacity:0;padding:10px;position:absolute;text-align:left;transition:visibility 0s linear .25s, opacity .25s linear;visibility:hidden;z-index:100;background-color:#fff;color:#191919;top:100%}





.rf-owners__list{
    font-family:inherit;font-size:13px;line-height:1.3;display:inline-block;line-height:1.6;max-width:100%;padding-bottom:10px;position:relative}



.rf-owners__list:not(.rf-tooltip--container){overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;line-height:18px;margin-bottom:5px}

.rf-owners__list:not(.rf-tooltip--container):last-child{margin-bottom:0}



.event-venue{
    display:block;float:left;
    line-height:18px;margin-bottom:5px;
    overflow:hidden;white-space:nowrap;
    width:100%; font-size: 13px;
}

.event-venue-image-container{display:none;margin-right:6px;vertical-align:middle}
.event-venue-link{color:inherit}
.event-venue-link:hover{text-decoration:none}
.event-venue-link:hover .event-venue-name{text-decoration:underline}

.event-venue-name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#191919;display:inline-block;max-width:100%;position:relative;top:-1px;vertical-align:middle}








.rf-icon--views{margin-top:2px;position:relative}
.rf-icon--followers{margin-top:2px}.rf-ribbon{display:inline-block;margin:0;width:31px}





.rf-project-cover{
    border-radius:5px 5px 3px 3px;
    box-sizing:border-box;
    color:#191919;float:left;
    margin:0 20px 20px 0;
    height:300px;
    position:relative;text-align:left;
    width:202px;
    background-color:#fff;
    box-shadow:0 1px 2px rgba(25,25,25,0.2);cursor:pointer
}




.rf-project-cover__image-container{
    filter:brightness(100%);
    transition:filter 500ms ease-in-out;
    padding-top:78.21782%;
    background-color:#f9f9f9;
    border-radius:3px 3px 0 0;display:block;
    margin:0;overflow:hidden;position:relative}

.rf-project-cover__image-container:hover{filter:brightness(80%)}

.rf-project-cover__image{border-radius:3px 3px 0 0;bottom:0;display:block;left:0;position:absolute;right:0;top:0;width:100%}

.rf-project-cover__title{
    font-family:inherit;font-size:14px;
    line-height:1.3;color:#191919;display:block;
    font-weight:bold;height:36px;line-height:1.35;
    margin-bottom:9px;overflow:hidden;
    text-align: center;
}

.is-featured .rf-project-cover__title{color:#ccc !important;font-weight:bold}

@media (max-width: 1024px){.rf-project-cover__title{font-size:12px;height:34px}}.rf-project-cover__details{padding:7px 10px 0 10px}

.event-date{height:23px}

a.date {font-weight: 500;}

event-date-list{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;margin-bottom:6px;margin-top:2px}

.event-date{font-family:inherit;font-size:13px;font-weight:bold;font-weight:normal}

.rf-project-cover__stats{font-family:inherit;font-size:11px;font-weight:bold;-ms-flex-align:center;align-items:center;border-top:1px #f2f2f2 solid;box-sizing:border-box;display:-ms-flexbox;display:flex;font-weight:normal;padding:7px 0}



.rf-project-cover__stat-link{width:100%}

.rf-project-cover__stat{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;float:left;font-size:12px;font-weight:bold;margin-right:13px;position:relative;vertical-align:middle}

@media (max-width: 603px){.rf-project-cover__stat{font-size:11px;margin-right:9px}}
.rf-project-cover__stat svg{fill:#a4a4a4;margin-right:7px}
@media (max-width: 603px){
    .rf-project-cover__stat svg{margin-right:5px;max-width:13px}
}
.rf-project-cover__stat .rf-icon--badge{margin-right:0}

.rf-project-cover__stat .rf-project-cover__stat-number{margin-top:2px}

.rf-project-cover__stat .rf-icon--appreciate{position:relative;top:-1px}

.rf-project-cover__stat--featured{float:right;margin:3px 0 -5px -13px;z-index:2}

.rf-project-cover__stat--featured svg{fill:#a4a4a4;margin-right:0}

.rf-project-cover__stat--featured .rf-tooltip--main{font-weight:normal;white-space:nowrap}


.rf-featured-module{
    border-radius:5px 5px 3px 3px;box-sizing:border-box;color:#191919;float:left;margin:0 20px 20px 0;min-height:300px;position:relative;text-align:left;width:202px;background-color:#fcfcfc;border:1px solid #e8e8e8;margin-right:0;padding:0 25px;text-align:center}

@media (max-width: 1024px){.rf-featured-module{min-height:0}}
@media (max-width: 603px){.rf-featured-module{margin:0 15px 20px 0;width:170px}}




.rf-primary-nav{
    background:#191919;
    float:left;height:60px;position:fixed;
    width:100%;z-index:5;
}




@media (max-width: 1024px){.rf-primary-nav--main{display:none}}

.rf-primary-nav--main .rf-primary-nav__menu{
    height:60px;margin:0 auto;
    text-align:;
    width:calc(100% 500px);
}


.rf-primary-nav--main .rf-primary-nav__item:last-child{margin-right:0}

.rf-primary-nav--main .rf-primary-nav__link{
    color:#a4a4a4;
    line-height:60px;
}

.rf-primary-nav--mobile{display:none;left:0;position:fixed;top:0}

.rf-primary-nav__actions{height:60px;position:absolute;right:25px;top:0}

.rf-primary-nav__actions .rf-primary-nav__item{margin:0 8px}


.rf-primary-nav__item{cursor:pointer;display:inline-block;height:60px;margin:0 10px;position:relative;vertical-align:top}

.rf-primary-nav__link{
    font-family:inherit;
    font-size:25px;
    color:#a4a4a4;font-weight:bold;
}

.rf-primary-nav__link:hover,.rf-primary-nav__link.active{
    color:#fff;text-decoration:none}


.events-header {
    font-family:inherit;
    font-size:40px;
    color:#000000;font-weight:bold;
    line-height:90px; text-align: center;
    margin-top: -50px;
    margin-bottom: 40px;
    background:#D2D9E6;
}

@media (min-width: 604px) and (max-width: 1024px){
    .rf-primary-nav__menu{left:-43%;width:43%}}

@media (max-width: 603px){
    .rf-primary-nav__menu{left:-75%;width:75%}
}


.rf-footer{
    background:#191919;
    box-sizing:border-box;
    font-family:inherit;
    position:relative;
    z-index:2;
}



.rf-footer__links{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;height:20px;list-style:none;padding-left:20px}

@media (max-width: 1024px){.rf-footer__links{display:inline-block;position:relative;top:8px}}

.rf-footer__link{
    font-family:inherit;
    font-size:14px;
    font-weight:bold;
    color:#a4a4a4;
    margin-right:10px
}

@media (max-width: 1024px){.rf-footer__link{float:left}}

.rf-footer__link a{color:inherit}
.rf-footer__link a:hover{color:#fff;text-decoration:none}
.rf-footer__selector{color:#a4a4a4;font-weight:bold;margin-bottom:0;margin-top:-7.5px;padding:calc(7.5px * 2) 25px 7.5px;position:relative;text-align:center}

.rf-footer--infinity{
    -ms-flex-align:center;
    align-items:center;
    bottom:0;
    display:-ms-flexbox;display:flex;
    height:60px;left:0;position:fixed;width:100%
}

@media (max-width: 1024px){.rf-footer--infinity{display:none}}





.rf-secondary-nav{
    background:#fff;
    box-shadow:0 0 4px rgba(25,25,25,0.1);
    font-family:inherit;
    height:60px;left:0;
    max-width:100%;position:fixed;
    right:0;text-align:center;top:60px;z-index:3
}



@media (max-width: 1024px){.rf-secondary-nav__menu{-webkit-overflow-scrolling:touch;overflow-x:auto;overflow-y:visible;text-align:center;white-space:nowrap}}

.rf-secondary-nav__item{cursor:pointer;display:inline-block;height:60px;margin:0 15px}




.rf-secondary-nav__link{color:#191919;display:inline-block;font-size:15px;font-weight:600;line-height:60px;position:relative;vertical-align:top}

.rf-secondary-nav__link.active{color:#191919}
.rf-secondary-nav__link:hover{color:#191919;text-decoration:underline}
.rf-body--has-secondary-nav #site-content{margin-top:60px}


@media (min-width: 604px) and (max-width: 1024px){.rf-body--has-secondary-nav #site-content{margin-top:60px}}


@media (max-width: 603px){.rf-body--has-secondary-nav #site-content{margin-top:60px}}




html{background-color:#f9f9f9;border:0;margin:0;overflow:auto;padding:0}

body{background-color:#f9f9f9;color:#2b2b2b;
    font-family:"acumin-pro","Helvetica Neue",Helvetica,Arial,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,"ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3","Hiragino Kaku Gothic Pro W3",osaka,"ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯","MS PGothic",sans-serif;
    
    font-size:12px;line-height:1.3}*:not(.beicons):not(.ss-social):lang(ja){font-family:inherit}


h1,h2,h3,h4,h5,h6{font-weight:bold;margin:0}h1{font-size:36px;line-height:45px}
h2{font-size:24px;line-height:30px}
h3{font-size:18px;line-height:22px}
h4{font-size:16px;line-height:20px}
h5{font-size:14px;line-height:18px}
h6{font-size:12px;line-height:16px}


a,.fake-link{color:#0057ff;cursor:pointer;text-decoration:none}
a:hover,.fake-link:hover{text-decoration:underline}

#top-panel{padding-top:60px}


html,body{background:#f9f9f9}#ssite-left-column{box-shadow:0 0 5px 1px #c7c7c7;margin-right:10px;width:820px}#site-container{margin:0 auto;width:990px}#site-columns{margin:32px 0 80px}










