html{height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{
    background-color:#f2f2f2;
    margin:0;
    min-height:100%;
    line-height:1;
    vertical-align:baseline;
    -webkit-tap-highlight-color:transparent;
}

fieldset,iframe,img{border:0;vertical-align:bottom}

img{display:block;max-width:100%}:focus{outline:0}

.page{
    background-color:#000;
    margin:0 auto;
    max-width:1440px;
    overflow:hidden;
    position:relative}

.grid-control{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:-webkit-box;display:-ms-flexbox;
    display:-moz-box;display:flex;
    -ms-flex:0 1 auto;-webkit-box-flex:0;
    -moz-box-flex:0;flex:0 1 auto;
    -webkit-box-orient:horizontal;
    -ms-flex-direction:row;
    -moz-box-orient:horizontal;
    -moz-box-direction:normal;
    flex-direction:row;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    position:relative;
}

.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-moz-box;
    display:flex;-ms-flex:0 1 auto;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    flex:0 1 auto;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    width:100%;
}


@media screen and (min-width:640px){
    
    .col-1,.col-10,.col-11,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;width:50%}
}

@media screen and (min-width:1100px){
    
    .col-4{-ms-flex-preferred-size:33.333333333%;flex-basis:33.333333333%;max-width:33.333333333%}
    
    .col-8{-ms-flex-preferred-size:66.666666667%;flex-basis:66.666666667%;max-width:66.666666667%}
    .col-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.
}



a{color:#fc4600;text-decoration:none}
a:not(.button):hover span{text-decoration:underline}

p a{font-weight:500}
.content-block a:hover{text-decoration:underline}


html{font-size:14px}

body{font-family:'Neue Haas Grotesk W01',helvetica,sans-serif;font-size:100%}

h1,h2,h3{margin:0 0 35px 0;font-weight:500}
h4,h5,h6{font-weight:500}
.large-title,h1{font-size:3rem;line-height:1.08333333}
.medium-title,h2{font-size:2.25rem;line-height:1.16666667}
.small-title,h3{font-size:1.5rem;line-height:1.16666667}

.sub-title,h4,h5,h6{font-size:1rem;line-height:1.5;margin:0;letter-spacing:.25px}p{font-size:1rem;line-height:1.5;margin:0;margin-bottom:1.25rem;letter-spacing:.25px}

p b,p strong{font-weight:500}
p small{font-size:.875rem;line-height:1.28571429}
.translucent-text{margin-bottom:1.875rem;opacity:.8}
.text-theme{color:#fc4600}
.small,figcaption{font-size:.875rem;line-height:1.28571429}


dl,ol,ul{line-height:1.5;margin-bottom:1.25rem;padding:0}
dl a,ol a,ul a{font-weight:500}

li{font-size:1rem;line-height:1.5;letter-spacing:.25px;margin-bottom:.25rem}
ul{list-style:none}
ul li{margin-left:30px;position:relative}

.content-block address,.content-block h1,.content-block h2,.content-block h3{margin-bottom:1.25rem}

.content-block ul li:before{content:'-';left:-20px;position:absolute;top:-1px}

@media screen and (min-width:1100px){
    html{font-size:16px}
    .content-block dl,.content-block ol,.content-block ul{max-width:860px}
    ul.list-grid{margin-left:-40px;margin-right:-40px;max-width:none}
    
    ul.list-grid li{
        -ms-flex-preferred-size:33.333333%;
        flex-basis:33.333333%;
        max-width:33.333333%;
        padding:0 40px;
    }
}

.content-block{
    background-color:#fff;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#000;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    -moz-box-flex:1;
    flex-grow:1;
    overflow:hidden;
    padding:20px;
    width:100%;
    z-index:1}

.content-block--bordered{
    border-bottom:1px solid rgba(0,0,0,.1);
    border-right:1px solid rgba(0,0,0,.1);
}

.content-block--bottom-border{border-bottom:1px solid #d1d1d1}
.content-block--centered{text-align:center}
.content-block--collapse-bottom{padding-bottom:0}
.content-block--theme-dark{background-color:#000;color:#fff}
.content-block--theme-dark h3{margin-bottom:0;margin-top:1px}
.content-block--theme-dark .micro-grid_content{margin-bottom:0}

.content-block .h3--bottom-border{
    border-bottom:4px solid #000;
    line-height:1.2;
    margin-bottom:14px;
    padding-bottom:15px;
}

.content-block .h3--bottom-border-extended{border-bottom:4px solid #000;line-height:1.2;margin-bottom:14px;margin-top:6px;padding-bottom:1.7rem}.

content-block h6{font-size:1rem;margin-bottom:0}
.content-block hr{border:0;border-top:1px solid #d1d1d1;clear:both;margin:0 0 1.5rem 0}
.content-block .hr--thick{border-top:4px solid #000;margin-bottom:0;margin-top:0}
.content-block .hr--thick+h3{margin-top:2rem}
.content-block .hr--thick+address,.content-block .hr--thick+h4{margin:0 0 1.25rem;padding-top:14px}
.content-block .hr--full-width{margin-left:-20px;margin-right:-20px}

.content-block>:last-child,.content-block_width-control>:last-child{margin-bottom:0}


.content-block--focus{overflow:visible;z-index:2}

@media screen and (min-width:640px){
    .content-block{padding:30px}
    .content-block--collapse-bottom{padding-bottom:0}
    .content-block--theme-dark ul{margin-bottom:0;margin-top:0}
    .content-block hr{margin-bottom:2.5rem}
    .content-block .hr--full-width{margin-left:-30px;margin-right:-30px}
}


.page-subtitle-block,.page-title-block{
    background:#fff;
    border-color:#d1d1d1;
    border-style:solid;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding-left:20px;
    padding-right:20px;
    width:100%;
}

.page-title-block{border-width:0 0 1px 0;padding-bottom:10px;padding-top:30px}
.page-title-block h1{margin-bottom:1.25rem}
.page-title-block h1 a{color:#000}
.page-title-block h1 a:hover{color:#fc4600}


.sidebar-block{
    background-color:#2c2c2c;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#ababab;
    -ms-flex-positive:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    flex-grow:1;
    padding:20px;
    width:100%;
}

.sidebar-block h3{color:#fff;margin-bottom:2.25rem}
.sidebar-block p a{color:#ababab}
.sidebar-block p a:hover{color:#fff}
.sidebar-block_dropdowns{display:block}
.sidebar-block_list{display:none}

@media screen and (min-width:640px){.sidebar-block{padding:30px}}


@media screen and (min-width:1100px){
    .sidebar-block{padding:40px}
    .sidebar-block_dropdowns{display:none}
    .sidebar-block_list{border-bottom:1px solid #3b3b3b;display:block;padding:0}
    .sidebar-block_list li{border-top:1px solid #3b3b3b;font-size:1rem;letter-spacing:0;line-height:1;margin:0;position:relative}
    
    .sidebar-block_list a{
    color:#ababab;
    display:block;
    padding:18px 0 19px 0;
}
    .sidebar-block_list a.sidebar-block-link--open,.sidebar-block_list a:hover{
    color:#fff
}
    .sidebar-block_sublist{margin:0;padding:12px 0 12px 20px}
    .sidebar-block_sublist li{border:0}
    .sidebar-block_sublist a{font-weight:400;padding:9px 0}
    .sidebar-block a.sidebar-block-link--active{color:#fc4600}
    
    .sidebar-block a.sidebar-block-link--active:after{
    color:inherit;content:'';
    position:absolute;top:50%;
    right:0;content:'\e812';
    font-family:font-awesome-icons;
    font-size:.9375rem;
    margin-top:-8px}
}

